@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<div class="container">
    
    <div class="row">
        <div class="col-sm-12">
                <div class="body-content">
                    <h2 class="text-center" style="text-shadow: 0 1px 1px #120266">Our team's binding principles are simple:</h2>
                    <div class="list-group">
                        
                        <h3 class="list-group-item-heading">Competition</h3>
                        <p class="list-group-item-text">- By challenging our teammates on and off the field, we improve ourselves as individuals and as a team.</p>
                        <br/>
                        <h3 class="list-group-item-heading">Camaraderie</h3>
                        <p class="list-group-item-text">- By trusting in our teammates, we promote communication and a cooperative system that makes the team greater than the sum of its parts. </p>
                        <br />
                        <h3 class="list-group-item-heading">Mutual respect</h3>
                        <p class="list-group-item-text">- By embracing the differences that make each of us unique, we ensure that CaSTLe is a supportive environment for players to train, improve and grow.</p>
                        <br/>
                        <p style="font-style:italic">Living these values strengthens CaSTLe as an athletic team and as a family.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-offset-3">
            <div class="col-sm-8">
                <div class="lead">
                    <blockquote> "Over the last few years, CaSTLe has been the top mens team in Missouri and has qualified for the USA Ultimate Select Flight in multiple seasons."</blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
