@{
    ViewData["Title"] = "Contact";

}
<h2>@ViewData["Title"]</h2>

@if (ViewBag.message != null)
{
    <div class="alert-success">
        <strong>@ViewBag.message</strong>
    </div>

}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <address>
                <strong>Leadership:</strong> <a href="mailto:castleultimate.stl@gmail.com">Castleultimate.stl@gmail.com</a><br />
                <strong>Facebook:</strong> <a href="https://www.facebook.com/CastleUltimate/">CastleUltimate</a><br />
                <strong>USA Ultimate:</strong> <a href="http://play.usaultimate.org/teams/events/Eventteam/?TeamId=rD9UoNKD8oQGc6S54qIJmv3iZpFw3z59N%2fp%2bbC9nBEQ%3d">Roster & Schedule</a><br />
            </address>
        </div>
        <div class="col-sm-6">
            <h4>Tryouts alert request</h4>
            <p>Want to be alerted when the next tryouts are finalized?</p>
        </div>
    </div>
</div>
<form method="post">
    <div class="container">
        <div class="form-row">
            <div class="form-group col-sm-offset-6 col-sm-2">
                <label>Name<input type="text" class="form-control" name="name" value="@ViewBag.PlayerName" placeholder="Name"></label>
            </div>
            <div class="form-group col-sm-4">
                <label>Email<input type="email" class="form-control" name="email" email placeholder="Email"></label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-offset-6 col-sm-2">
                <label>
                    Experience<select class="form-control" name="experience">
                        <option value="1">1 Years</option>
                        <option value="2">2 Years</option>
                        <option value="3">3 Years</option>
                        <option value="4">4 Years</option>
                        <option value="5">5 Years</option>
                        <option value="6">6 Years</option>
                        <option value="8">8 Years</option>
                        <option value="9">9 Years</option>
                        <option value="10">10 Years</option>
                        <option value="alot">11+ Years</option>
                    </select>
                </label>
            </div>
            <div class="form-group col-sm-4">
                <label>Position<select class="form-control" name="position">
                        <option value="oc">Offensive Cutter</option>
                        <option value="oh">Offensive Handler</option>
                        <option value="dh">Defensive Handler</option>
                        <option value="dc">Defensivve Cutter</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-offset-6 col-sm-6">
                <label>Who have you played for?<input class="form-control" type="text" name="previousExperience"/></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-offset-6 col-sm-6">
                <button type="submit" class="btn btn-primary">Contact Me!</button>
            </div>
        </div>
    </div>
</form>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
