@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Leadership:</strong> <a href="mailto:castleultimate.stl@gmail.com">Castleultimate.stl@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/CastleUltimate/">CastleUltimate</a>
</address>

<script src="scripts/index.js"></script>
