
@{
    ViewData["Title"] = "Index";
}


<body>
    <header>
        <h1>Ca<span>STL</span>e</h1>
        <p style="text-align:center">
        </p>
    </header>
    <main>
        
        <divclass ='highlights'>
            <h2>Highlights</h2>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/2JHNQ0syaG0?autoplay=0" frameborder="0" allowfullscreen></iframe>
            </div>

    </main>

    <footer>
        ADD IN TWITTER FEED https://support.twitter.com/articles/20170071
        <a href="http://play.usaultimate.org/teams/events/Eventteam/?TeamId=rD9UoNKD8oQGc6S54qIJmv3iZpFw3z59N%2fp%2bbC9nBEQ%3d">Roster/Schedule</a>
    </footer>
</body>


