
@{
    ViewData["Title"] = "CaSTLe";
}


<body>
    <br />
    <div class="jumbotron" style="background-image: url(https://cms.ysu.edu/sites/default/files/styles/resource_content_header/public/images/administrative-offices/campus-recreation-and-wellness/evenmorefrisbeelarge.jpg?itok=FCgwmnSj); background-repeat:no-repeat; background-position:left center; background-size:cover " >
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <header>
                        <h1 style="color:whitesmoke; text-shadow:0 2px 2px #120266; font-weight:bold">Ca<span>STL</span>e</h1>
                    </header>
                    <div>
                        <p style="color:whitesmoke; text-shadow: 0 1px 8px #120266">A group of athletes united by a love of Ultimate Frisbee and drive to compete in mens USA Ultimate Select Flight level division</p>
                        <a class="btn btn-success" href="http://play.usaultimate.org/teams/events/Eventteam/?TeamId=rD9UoNKD8oQGc6S54qIJmv3iZpFw3z59N%2fp%2bbC9nBEQ%3d">Roster/Schedule</a>
                    </div>
                
            </div> 
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2JHNQ0syaG0?autoplay=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        </div>
    </div>
<main>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
            </div>

            <div class="col-sm-6"> 
                <a class="twitter-timeline" data-width="600" data-height="501" data-theme="light" href="https://twitter.com/CASTLE_ultimate?ref_src=twsrc%5Etfw">Tweets by CASTLE_ultimate</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>
    </div>

</main>




</body>


