
@{
    ViewData["Title"] = "CaSTLe";
}


<body>
    <br />
    <div class="jumbotron" style="background-image: url(https://cdn.earlytorise.com/wp-content/uploads/2016/03/ThinkstockPhotos-465877276-690x517.jpg)">
        <div class="row">
            <div class="col-sm-6">
                <header>
                    <h1 style="color:whitesmoke">Ca<span>STL</span>e</h1>
                </header>
            </div>

                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2JHNQ0syaG0?autoplay=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
<main>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
            </div>

            <div class="col-sm-6"> 
                <a class="twitter-timeline" data-width="600" data-height="501" data-theme="light" href="https://twitter.com/CASTLE_ultimate?ref_src=twsrc%5Etfw">Tweets by CASTLE_ultimate</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>
    </div>

</main>

<div>
    <a href="http://play.usaultimate.org/teams/events/Eventteam/?TeamId=rD9UoNKD8oQGc6S54qIJmv3iZpFw3z59N%2fp%2bbC9nBEQ%3d">Roster/Schedule</a>
</div>


</body>


