
@{
    ViewData["Title"] = "CaSTLe";
}


<body>
    <br />
    <div class="jumbotron" style="background-image: url(https://cms.ysu.edu/sites/default/files/styles/resource_content_header/public/images/administrative-offices/campus-recreation-and-wellness/evenmorefrisbeelarge.jpg?itok=FCgwmnSj); background-repeat:no-repeat; background-position:left center; background-size:cover " >
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <header>
                        <h1 style="color:whitesmoke; text-shadow:0 2px 2px #120266; font-weight:bold">Ca<span>STL</span>e</h1>
                    </header>
                    <p style="color:whitesmoke; text-shadow: 0 1px 8px #120266">A group of athletes united by a love of Ultimate Frisbee and drive to compete in mens USA Ultimate Select Flight division</p>
                    <div class="btn-group-vertical">
                        <button class="btn btn-success m-1" href="http://play.usaultimate.org/teams/events/Eventteam/?TeamId=rD9UoNKD8oQGc6S54qIJmv3iZpFw3z59N%2fp%2bbC9nBEQ%3d">Roster/Schedule</button>
                        <a class="btn btn-success m-1" href="https://docs.google.com/forms/d/e/1FAIpQLSdgXKoE_BYS4ugWqe08GXC_u_ZrOOut5conOpwcb65SiASXTA/viewform">2018 Tryout Registraition</a>
                        <br />
                    </div>

                </div> 
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2JHNQ0syaG0?autoplay=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        </div>
    </div>
<main>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="card bg-faded">

                    <p class="card-header bg-info">Back in 2012, a group of ultimate players got together and decided to establish a competitive ultimate program in the greater St. Louis area that would push its members to achieve their fullest potential.</p>
                    <p class="card-body bg-light font-italic">From that vision, CaSTLe was born. Every year, CaSTLe brings together some of the most athletic and skilled mens players in the St. Louis area. We begin every season with tryouts in May-June, followed by a regular season that lasts from the middle of June until August, and capped off by the USA Ultimate Postseason Series during the early fall. Over the last few years, CaSTLe has been the top mens team in Missouri and has qualified for the USA Ultimate Select Flight in multiple seasons</p>
                </div>
            </div>

            <div class="col-sm-6">
                <a class="twitter-timeline" data-width="600" data-height="401" data-theme="light" href="https://twitter.com/CASTLE_ultimate?ref_src=twsrc%5Etfw">Tweets by CASTLE_ultimate</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

</main>




</body>


